@keyframes lds-double-ring {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes lds-double-ring {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes lds-double-ring_reverse {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}
@-webkit-keyframes lds-double-ring_reverse {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}
.lds-double-ring {
    position: relative;
}
.lds-double-ring div {
    position: absolute;
    width: 160px;
    height: 160px;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    border: 8px solid #000;
    border-color: #474a4c transparent #474a4c transparent;
    -webkit-animation: lds-double-ring 1.8s linear infinite;
    animation: lds-double-ring 1.8s linear infinite;
}
.lds-double-ring div:nth-child(2) {
    width: 140px;
    height: 140px;
    top: 30px;
    left: 30px;
    border-color: transparent #0cc5fc transparent #0cc5fc;
    -webkit-animation: lds-double-ring_reverse 1.8s linear infinite;
    animation: lds-double-ring_reverse 1.8s linear infinite;
}
.lds-double-ring {
    width: 58px !important;
    height: 58px !important;
    -webkit-transform: translate(-29px, -29px) scale(0.29) translate(29px, 29px);
    transform: translate(-29px, -29px) scale(0.29) translate(29px, 29px);
}
.center{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}